_l4c_generated/*
__pycache__*
rootfinder.py
global_planner_1d.py
runs/*
main.ipynb
plots/
saved_models/*
entropy_reduction_mpc.py
saved_models_*
scripts/*
_models/*
ros/.catkin_tools
ros/devel
ros/logs
ros/pyenv
ros/build
scripts.zip
