[submodule "ros/src/yolov7-ros"]
	path = ros/src/yolov7-ros
	url = git@github.com:andrearlotta/yolov7-ros.git
[submodule "ros/src/ROS-TCP-Endpoint"]
	path = ros/src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
