_l4c_generated/*
__pycache__*
rootfinder.py
global_planner_1d.py
runs/*
plots/
saved_models/*
entropy_reduction_mpc.py
saved_models_*
scripts/*
ros/.catkin_tools
ros/devel
ros/logs
ros/pyenv
ros/build
scripts.zip
datasets/*
*.html
*.png
ros/src/nmpc_ros/baselines/*
ros/src/nmpc_ros/src/nmpc_ros_package/baselines/*
baselines/*
.vscode/settings.json
