numpy
matplotlib
plotly
torch>=2.0        # For machine learning models and training (PyTorch)
scikit-build>=0.17
cmake>=3.27
ninja>=1.11
casadi>=3.6.3       # For optimization and symbolic computation