<launch>
  <arg name="tcp_port" default="10000"/>
  <arg name="node_start_delay" default="10.0"/>

  <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch">
    <arg name="tcp_port" value="$(arg tcp_port)"/>
  </include>

  <include file="$(find yolov7_ros)/launch/yolov7.launch"/>

  <node name="data_association_node" pkg="nmpc_ros" type="data_association_node.py" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'" /> 

  <node name="baseline_node" pkg="nmpc_ros" type="baseline_node.py" output="screen"/>
</launch>